@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
body {
  
  background-image: url(../img/back.jpg);
  
  background-repeat:no-repeat;
  }
h1 {
  text-align: center;
  color:black;
}

#quiz-title {
  margin-top: 2vw;
  background-color: transparent;
  border: none;
  color: #fff;
  font-family:"futura-pt";
}

.quiz {
  padding: 1vw;
  font-size:1.2vw;
}

.results {
  display: none;
}

.btn {
  border-color: rgba(28, 89, 180, 0.29);
  background-color: rgba(10, 132, 233, 0.29);
}
.container{
  display:flex;
  
  
}
.panel-msg{
  font-size:2vw;
  font-family: 'Caveat Brush', cursive;

}
#dog img,#cat img,#rabbit img{
  width:50vw;
  height:70vh;
  border-radius:3vw;

}
 @media (max-width:1080px) and (min-width: 620px) {
  .container{
    display:flex;
   
    
  }
  .panel-msg{
    font-size:2vw;
    font-family: 'Caveat Brush', cursive;
  
  }
  #dog img,#cat img,#rabbit img{
    width:50vw;
    height:70vh;
    border-radius:3vw;
  
  }
}
@media screen and (max-width:700px){
  .container{
    display:block;

  }
  .quiz {
    padding: 1vw;
    font-size:1.8vw;
  }
  #dog img,#cat img,#rabbit img{
    width:90vw;
    height:100vh;
    border-radius:3vw;
  }
  .panel-msg{
    font-size:4vw;
  }
  
} 



