<!DOCTYPE html>
<html>
  <head>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    
    <title>Pet Quiz</title>
  </head>
  <body>
    <div class="panel panel-default" id="quiz-title">
      <h1>Let's match you with a new friend</h1>
      </div>
    <div class="container">
      

      <div class="panel panel-default quiz" >
        <form id="quiz">
          <ol>
            <li>How often are you home?</li>
            <div class="radio">
              <label>
                <input type="radio" name="home" value="often">
                Often
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="home" value="sometimes">
                Sometimes
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="home" value="rarely">
                Rarely
              </label>
            </div>

            <li>How often do you like to play with your pet?</li>
            <div class ="radio">
              <label for="play">
                <input type="radio" name="play" value="often">
                Often
              </label>
            </div>
            <div class ="radio">
              <label>
                <input type="radio" name="play" value="sometimes">
                Sometimes
              </label>
            </div>
            <div class ="radio">
              <label>
                <input type="radio" name="play" value="rarely">
                Rarely
              </label>
            </div>

            <li>What's your activity level</li>
            <div class ="radio">
              <label for="activity">
                <input type="radio" name="activity" value="low">
                Low
              </label>
            </div>
            <div class ="radio">
              <label>
                <input type="radio" name="activity" value="moderate">
                Moderate
              </label>
            </div>
            <div class ="radio">
              <label>
                <input type="radio" name="activity" value="high">
                High
              </label>
            </div>

            <li>How big is your living space?</li>
            <div class ="radio">
              <label for="play">
                <input type="radio" name="space" value="large">
                Large
              </label>
            </div>
            <div class ="radio">
              <label>
                <input type="radio" name="space" value="medium">
                Medium
              </label>
            </div>
            <div class ="radio">
              <label>
                <input type="radio" name="space" value="small">
                Small
              </label>
            </div>
            

            <li>What's your noise level tolerance?</li>
            <div class ="radio">
              <label for="play">
                <input type="radio" name="noise" value="high">
                High: Noise doesn't bother me.
              </label>
            </div>
            <div class ="radio">
              <label for="play">
                <input type="radio" name="noise" value="medium">
                Medium: I'm ok with a bit of noise, but not too much.
              </label>
            </div>
            <div class ="radio">
              <label for="play">
                <input type="radio" name="noise" value="low">
                Low: A quiet living space is very important to me.
              </label>
            </div>
          </ol>
          <br>
         
          <button type="submit" class="btn">Show me my pet!</button>
          <button type="reset" id="reset" value="Reset">Reset</button>
        </form>

      </div>

      <div class="panel panel-default quiz results" id="dog" >
        <p class="panel-msg">Congratulations! You would make a great dog owner.</p>
        <img src="https://images.unsplash.com/photo-1628579606036-d2990d15a5ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="">
      </div>
      <div class="panel panel-default quiz results" id="cat" width="50%">
        <p class="panel-msg">Congratulations! You would make a great cat owner.</p>
        <img src="https://images.unsplash.com/photo-1503844281047-cf42eade5ca5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80" alt="cat">
      </div>
      <div class="panel panel-default quiz results" id="rabbit" width="50%">
        <p class="panel-msg">Congratulations! You would make a great rabbit owner.</p>
        <img src="https://images.unsplash.com/photo-1518796745738-41048802f99a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80">
      </div>

    </div>
    <script src="js/jquery-3.4.1.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>