
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<title>Products</title>
<main id="products">
    <h3 class="">Enjoy a wide selection of food products from our trusted manufacturers</h3>
    <div class="container-fluid" id="cont" >
        <div class="row" id="products-row">
            <div class="col-md-4" id="products-col">
                <img src="https://cdn.shopify.com/s/files/1/0086/0795/7054/products/RoyalCaninMaxiBreedJuniorDryPuppyFood_large.jpg?v=1636366212" alt="">
                <div id="products-text">
                    <h6>Royal Canin Maxi Breed Junior Dry Puppy Food</h6>
                    <p>High quality balanced international pet food </p>
                    <p>Kshs 2,500</p>
                    <button id="btn-cart">ADD TO CART</button>
                </div>
                
            
            </div>
            <div class="col-md-4" id="products-col">
                <img src="https://cdn.shopify.com/s/files/1/0086/0795/7054/products/ND-PUMPKIN-12kg-Puppy-Medium_Maxi-LAMB-BLUEBERRY-_3D_Front_Web_large.jpg?v=1648804245" >
                <div id="products-text">
                    <h6>Royal Canin Maxi Breed Junior Dry Puppy Food</h6>
                    <p>High quality balanced international pet food </p>
                    <p>Kshs 2,500</p>
                    <button id="btn-cart">ADD TO CART</button>
                </div>
            </div>
            <div class="col-md-4" id="products-col">
                <img src="https://cdn.shopify.com/s/files/1/0086/0795/7054/products/RoyalCaninMaxiBreedStarterPuppyFood_510x@2x.jpg?v=1636366252">
                <div id="products-text">
                    <h6>Royal Canin Maxi Breed Junior Dry Puppy Food</h6>
                    <p>High quality balanced international pet food </p>
                    <p>Kshs 2,500</p>
                    <button id="btn-cart">ADD TO CART</button>
                </div>
            </div>
            <div class="col-md-4" id="products-col">
                <img src="https://cdn.shopify.com/s/files/1/0086/0795/7054/products/RoyalCaninMaxiBreedJuniorDryPuppyFood_large.jpg?v=1636366212" alt="">
                <div id="products-text">
                    <h6>Royal Canin Maxi Breed Junior Dry Puppy Food</h6>
                    <p>High quality balanced international pet food </p>
                    <p>Kshs 2,500</p>
                    <button id="btn-cart">ADD TO CART</button>
                </div>
                
            
            </div>
            <div class="col-md-4" id="products-col">
                <img src="https://cdn.shopify.com/s/files/1/0086/0795/7054/products/ND-PUMPKIN-12kg-Puppy-Medium_Maxi-LAMB-BLUEBERRY-_3D_Front_Web_large.jpg?v=1648804245" >
                <div id="products-text">
                    <h6>Royal Canin Maxi Breed Junior Dry Puppy Food</h6>
                    <p>High quality balanced international pet food </p>
                    <p>Kshs 2,500</p>
                    <button id="btn-cart">ADD TO CART</button>
                </div>
            </div>
            <div class="col-md-4" id="products-col">
                <img src="https://cdn.shopify.com/s/files/1/0086/0795/7054/products/RoyalCaninMaxiBreedStarterPuppyFood_510x@2x.jpg?v=1636366252">
                <div id="products-text">
                    <h6>Royal Canin Maxi Breed Junior Dry Puppy Food</h6>
                    <p>High quality balanced international pet food </p>
                    <p>Kshs 2,500</p>
                    <button id="btn-cart">ADD TO CART</button>
                </div>
            </div>
        </div>
        
        
        <div class="col-md-3" id="orders">
            <div class="cart-header">
                <br><br>
                <h3>Yours Orders</h3>
            </div>
        </div>
         
    </div>
    
</main>
